<form [formGroup]="usersForm">
  <ng-container *ngFor="let item of json; let i = index">
      <div [formGroup]="usersForm.controls['users']['controls'][i]">
        <label>
          <div [ngSwitch]="item.type">
            {{item.label}}:
          
            <input *ngSwitchCase="'text'" type="text" formControlName="value" [id]="item.key" >
            <select *ngSwitchCase="'select'" (change)="change($event)" type="text" formControlName="value" [id]="item.key" >
              <option *ngFor="let o of item.options" [value]="o.key">{{o.value}}</option>
            </select>
          </div>
          
        </label>
      </div>
    </ng-container>
  </form>
  <button (click)="addFormControl()">add new user formGroup</button>
  <button (click)="show()">Show values</button>
  <pre>
  {{values | json}}
  </pre>
