<mat-card>
<p>Gérer les noeuds de l'arbre des equipements et composants</p>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <!-- use a disabled button to provide padding for tree leaf -->
      <button mat-icon-button disabled></button>
      {{node.entity.label}}
      <button mat-icon-button matTooltip="Modifier ce noeud de composant"><mat-icon>create</mat-icon></button>
      <button mat-icon-button matTooltip="Déplacer ce noeud de composant"><mat-icon>arrow_upward</mat-icon></button>
      <button mat-icon-button matTooltip="Ajouter un noeud de composant"><mat-icon>add</mat-icon></button>
      <button mat-icon-button matTooltip="Effacer ce noeud de composant"><mat-icon>delete</mat-icon></button>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'Toggle ' + node.entity.label">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.entity.label}}
      <span *ngIf="node.entity.id !== -1">
        <button mat-icon-button matTooltip="Modifier ce noeud de composant"><mat-icon>create</mat-icon></button>
        <button mat-icon-button matTooltip="Déplacer ce noeud de composant"><mat-icon>arrow_upward</mat-icon></button>
        <button mat-icon-button matTooltip="Ajouter un noeud de composant"><mat-icon>add</mat-icon></button>
        <button mat-icon-button matTooltip="Effacer ce noeud de composant"><mat-icon>delete</mat-icon></button>
      </span>
    </mat-tree-node>
</mat-tree>
</mat-card>