<ng-container>
    <div>
        <mat-form-field appearance="fill"  >
            <mat-label>Choose a new Equipment</mat-label>
            <mat-select #selectComponent (selectionChange)="select($event)">
              <mat-option *ngFor="let n of service.firstLevelNodes" [value]="n">{{n.label}}</mat-option>
            </mat-select>
            <br/>
          </mat-form-field>
          <div *ngIf="selectedNode">
          Enter the name of your new equipment :
          <mat-form-field appearance="fill"  >
              <input #text matInput type="text" [value]="selectedText" >
          </mat-form-field>
          <button mat-button (click)="add()">Add equipment to the list</button>
          <button mat-button (click)="clear();selectComponent.value=null;">Clear</button>
        </div>
    </div>

  </ng-container>