<h2>Equipements</h2>
<div *ngIf="service.selectedEquipment">
    <app-equipment-select></app-equipment-select>
    <br/>
    <h2>Détail de l'équipement</h2>
    <mat-card>
        <mat-form-field class="fill">
            <input type="text" placeholder="Nom" required #label="ngModel" minlength="3" aria-label="Nom" matInput class="fill" [(ngModel)]="service.selectedEquipment.label">
            <div *ngIf="label.invalid" class="red">Nom obligatoire avec 3 caractères minimum</div>
        </mat-form-field>
        <mat-form-field class="fill">
            <input type="text" placeholder="Plateforme(s)" matInput class="fill" [value]="platformsString"> 
        </mat-form-field>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p>Liste des plateformes associées</p>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-equipment-platforms></app-equipment-platforms>
              </mat-expansion-panel>
          </mat-accordion> 
        
        <br/>
        <mat-form-field class="fill">
            <input disabled="true" type="text" placeholder="Nom de nomenclature" aria-label="Nom" matInput class="fill" [value]="service.db[service.selectedEquipment.nodeId].label">
        </mat-form-field>
        <mat-form-field class="fill">
            <input type="text" placeholder="Description technique selon nomenclature standardisée" aria-label="Description" matInput class="fill" [(ngModel)]="service.selectedEquipment.comment">
        </mat-form-field>
        <mat-form-field class="fill">
            <input type="text" placeholder="Fabriquant" aria-label="Fabriquant" matInput class="fill" [(ngModel)]="service.selectedEquipment.manufacturer">
        </mat-form-field>
        <mat-form-field class="fill">
            <input type="number" placeholder="Valeur de remplacement (k€)" aria-label="Valeur de remplacement" matInput class="fill" [(ngModel)]="service.selectedEquipment.value">
        </mat-form-field>
        <mat-form-field class="fill">
            <input type="number" #year="ngModel" min="1900" max="2100" placeholder="Année d’acquisition" aria-label="Année d’acquisition" matInput class="fill" [(ngModel)]="service.selectedEquipment.year">
            <div *ngIf="year.invalid" class="red">4 chiffres</div>
        </mat-form-field>
        <label>Taux d'utilisation: {{service.selectedEquipment.useRate}}% </label><mat-slider thumbLabel class="fifty"  [(ngModel)]="service.selectedEquipment.useRate" [displayWith]="formatLabel" tickInterval="1" step="1" min="0" max="100" aria-label="units"></mat-slider>
        <mat-form-field class="fill">
            <input disabled="true" type="text" placeholder="Nombre de composant" matInput class="fill" [value]="service.selectedEquipment.components.length">
        </mat-form-field>
        <br/>
        <button mat-button (click)="save()"><mat-icon>save</mat-icon>Sauvegarder</button>
    </mat-card>
  </div>

