
  
  <div style="width: 49%; height: 100%; float:left">
    <br/>
    <h2>Composants</h2>
    <mat-card>
      <div *ngIf="service.selectedEquipment">
        <app-equipment-select></app-equipment-select>
        <br/>
        <label [matBadge]="service.selectedEquipment.components.length" matBadgeOverlap="false">Composants de {{service.selectedEquipment.label}}</label>
        <button *ngIf="nbError > 0" mat-icon-button matTooltip="Il y a {{nbError}} point(s) d'attention, voir ci dessous"><mat-icon class="material-icons color_red">warning</mat-icon></button>
        <app-entity-list source="components"></app-entity-list>
        <br/>
        <app-component-validator></app-component-validator>
      </div>
  </mat-card>
    </div>

  <div style="width: 49%; height: 100%; float:right">
    <br/>
    <div *ngIf="service.selectedEquipment">
    <h2>Ajouter le composant à {{service.selectedEquipment.label}}</h2>
    <mat-card>
      <app-search *ngIf="service.selectedEquipment"></app-search>
    </mat-card>
    <br>
    <mat-card>
      <app-dynamic-form></app-dynamic-form>
    </mat-card>
    <br/>
  </div>
  </div>



