<form [formGroup]="form">
  <div style="width: 50%; height: 100%; float:left">
    <h2>Choose you equipments</h2>
  <mat-card>
    <ng-container *ngFor="let item of vms; let i = index" >
    
      <div [formGroup]="form.controls['vms']['controls'][i]">
        
          <div [ngSwitch]="item.type" class="form-field-group">
            <label *ngSwitchCase="'label'">X{{item.label}}</label>
            <mat-form-field *ngSwitchCase="'text'" appearance="fill">
              <label>You choose {{item.label}}</label>
              <input matInput [placeholder]="'Comment'" (change)="lastChange($event)" type="text" formControlName="value" [id]="item.key" >
            </mat-form-field> 
            <mat-form-field *ngSwitchCase="'select'" appearance="fill">
              <mat-label>{{item.label}}</mat-label>
              <mat-select  [placeholder]="item.label"  (selectionChange)="change($event)" formControlName="value" [id]="item.key" >
                <mat-option *ngFor="let o of item.options" [value]="[o.key, item]">{{o.value}}</mat-option>
              </mat-select>
          </mat-form-field>
          </div>
      </div>
    
    </ng-container>
    <button mat-button (click)="clear()">Clear</button>
    <button *ngIf="isAdd" mat-button (click)="add()">Add equipment</button>
    </mat-card>
    </div>

  <div style="width: 50%; height: 100%; float:right">
    <h2>Equipment list</h2>
    <mat-card>
      <mat-list *ngIf="equipments.length > 0">
        <mat-list-item *ngFor="let e of equipments">
          {{e.label}}
          <button mat-button (click)="delete(e.key)" ><mat-icon matListIcon>delete</mat-icon></button>
        </mat-list-item>
      </mat-list>
      <div *ngIf="equipments.length == 0">Empty</div>
    </mat-card>
  </div>
  
  <!--<mat-card *ngIf="!environment.production" >
    
    <pre>
      {{values | json}}
    </pre>
  </mat-card>-->
  </form>


