<form [formGroup]="form">
  <mat-card>
    <ng-container *ngFor="let item of vms; let i = index">
    
      <div [formGroup]="form.controls['vms']['controls'][i]">
        
          <div [ngSwitch]="item.type" class="form-field-group">
            <mat-form-field *ngSwitchCase="'label'" appearance="fill">
              <label>You choose {{item.label}}</label>
              <input matInput [placeholder]="'Comment'" type="text" >
            </mat-form-field> 
            <mat-form-field *ngSwitchCase="'text'" appearance="fill">
              <label>You choose {{item.label}}</label>
              <input matInput [placeholder]="'Comment'" (keyup)="lastChange($event)" type="text" formControlName="value" [id]="item.key" >
            </mat-form-field> 
            <mat-form-field *ngSwitchCase="'select'" appearance="fill">
              <mat-label>{{item.label}}</mat-label>
              <mat-select  [placeholder]="item.label"  (selectionChange)="change($event)" formControlName="value" [id]="item.key" >
                <mat-option *ngFor="let o of item.options" [value]="o.key">{{o.value}}</mat-option>
              </mat-select>
          </mat-form-field>
          </div>
      </div>
    
    </ng-container>
    <button mat-button (click)="clear()">Clear</button>
    <button *ngIf="isAdd" mat-button (click)="add()">Add equipment</button>
    <p>Equipments: {{equipments | json}}</p>
  </mat-card>
  <!--<mat-card *ngIf="!environment.production" >
    <button mat-button (click)="show()">Show values</button>
    <pre>
      {{values | json}}
    </pre>
  </mat-card>-->
  </form>


