<p>
    <mat-toolbar color="primary">
      <button mat-icon-button [matMenuTriggerFor]="bMenu" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #bMenu="matMenu">
        <button mat-menu-item (click)="matTabIndex = 0"><mat-icon>home</mat-icon>SOR</button>
        <button mat-menu-item (click)="matTabIndex = 1"><mat-icon>play_circle_filled</mat-icon>Equipements</button>
        <button mat-menu-item (click)="matTabIndex = 2"><mat-icon>details</mat-icon>Détails</button>
        <button mat-menu-item (click)="matTabIndex = 3"><mat-icon>security</mat-icon>Administration</button>
        <button mat-menu-item (click)="matTabIndex = 4"><mat-icon>map</mat-icon>MindMap</button>
        <button mat-menu-item (click)="mindsimple()"><mat-icon>library_books</mat-icon>Index</button>
        <button mat-menu-item (click)="about()"><mat-icon>group_work</mat-icon>About</button>
        <button mat-menu-item><mat-icon>logout</mat-icon>Logout</button>
        <button mat-menu-item (click)="material()"><mat-icon>developer_board</mat-icon>Material Design</button>
        <button mat-menu-item (click)="angular()"><mat-icon>developer_board</mat-icon>Angular Material</button>
        <button mat-menu-item (click)="python()"><mat-icon>developer_board</mat-icon>Python ou .NET Core ou Symphony</button>
        <button mat-menu-item (click)="pg()"><mat-icon>developer_board</mat-icon>PostgreSql</button>
        <button mat-menu-item (click)="cyril()"><mat-icon>account_circle</mat-icon>Cyril Vincent</button>
        <button mat-menu-item (click)="cyril()"><mat-icon>account_circle</mat-icon>Contacter l'administrateur</button>
      </mat-menu>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Laboratory & Platforms" matTooltip="SOR">
      <mat-icon (click)="matTabIndex = 0">home</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Logout" matTooltip="Logout">
      Bonjour Cyril <mat-icon>logout</mat-icon>
    </button>
    <img src="../assets/logo.svg">
  </mat-toolbar>
</p>
<mat-tab-group #matTab [(selectedIndex)]="matTabIndex">
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab" matTooltip="Structure opérationnelle de recherche"><mat-icon matBadge="0">home</mat-icon>SOR</span>
    </ng-template>
    <app-platform></app-platform>
  </mat-tab>
  <mat-tab [disabled]='!service.selectedEquipment'>
    <ng-template mat-tab-label>
      <span matTooltip="Equipements de la structure opérationnelle de recherche"><mat-icon [matBadge]="service.equipments.length">play_circle_filled </mat-icon>
      Equipements</span>
    </ng-template>
    <app-equipments></app-equipments>
  </mat-tab>
  <mat-tab [disabled]='!service.selectedEquipment'>
    <ng-template mat-tab-label>
      <span matTooltip="Détails de l'équipement sélectionné"><mat-icon>details</mat-icon>
      Détails</span>
    </ng-template>
    <br/>
    <h2>Equipement et ses composants</h2>
    <p>Formulaire des attributs de l'équipement</p>
    <p>Formulaires des attributs des composants</p>
    <p>Modification du texte libre des composants autorisés</p>
    <mat-card>
      <div *ngIf="service.selectedEquipment">
        <app-equipment-select></app-equipment-select>
        <br/>
        <label>Composants de {{service.selectedEquipment.label}}</label>
        <app-entity-list source="components"></app-entity-list>
        <app-component-validator></app-component-validator>
      </div>
  </mat-card>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span matTooltip="Administration"><mat-icon>security</mat-icon>
      Administration</span>
    </ng-template>
    <p>Manage Database</p>
    <p>Only for admin</p>
    <p>Add, remove, update, reorder nodes and equipments</p>
    <p>Database PG Schema</p>
    <p><img src="../assets/mpd.png" height="600"></p>
    <button mat-icon-button  (click)="clearLocalStorage()">
      Delete localStorage<mat-icon>delete</mat-icon>
    </button>
    <p>EquipmentDTO DB</p>
    <pre>{{this.service.equipments | json}}</pre>
    <p>EquipmentNode DB</p>
    <pre>{{this.service.db | json}}</pre>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span matTooltip="Mind Map"><mat-icon>map</mat-icon>
      Mind Map</span>
    </ng-template>
    Mind Map
    <div>
      <iframe width="99%" height="2000px" src="https://www.cyrilvincent.com/cnrs/jsmind/"></iframe>
    </div>
  </mat-tab>
</mat-tab-group>
<footer class="footer">
  <br>
  <p>
    © CNRS 2021 Version {{service.version}}.DEV
  </p>
</footer>

