<p>
    <mat-toolbar color="primary">
      <button mat-icon-button [matMenuTriggerFor]="bMenu" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #bMenu="matMenu">
        <button mat-menu-item (click)="refresh()"><mat-icon>home</mat-icon>Your platform</button>
        <button mat-menu-item><mat-icon>play_circle_filled</mat-icon>Platform management</button>
        <button mat-menu-item (click)="mind()"><mat-icon>map</mat-icon>MindMap</button>
        <button mat-menu-item (click)="mindsimple()"><mat-icon>library_books</mat-icon>Index</button>
        <button mat-menu-item (click)="db()"><mat-icon>security</mat-icon>Manage database (admin)</button>
        <button mat-menu-item><mat-icon>share</mat-icon>Share</button>
        <button mat-menu-item (click)="about()"><mat-icon>group_work</mat-icon>About</button>
        <button mat-menu-item><mat-icon>logout</mat-icon>Logout</button>
        <button mat-menu-item (click)="material()"><mat-icon>developer_board</mat-icon>Material Design</button>
        <button mat-menu-item (click)="angular()"><mat-icon>developer_board</mat-icon>Angular Material</button>
        <button mat-menu-item (click)="python()"><mat-icon>developer_board</mat-icon>Python</button>
        <button mat-menu-item (click)="pg()"><mat-icon>developer_board</mat-icon>PostgreSql</button>
        <button mat-menu-item (click)="cyril()"><mat-icon>account_circle</mat-icon>Cyril Vincent</button>
      </mat-menu>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Your platform" [matTooltip]="'Your platform'">
      <mat-icon (click)="refresh()">home</mat-icon>
    </button>
    <button mat-icon-button aria-label="Share" [matTooltip]="'Share'">
      <mat-icon>share</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Logout" [matTooltip]="'Logout'">
      Hi Cyril <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</p>
<mat-tab-group #matTab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>home</mat-icon> Your platform
    </ng-template>
    <p>Your platform</p>
    <p>List of equipments</p>
    <p>Click => view the details</p>
    <p>Can generate a platfom report</p>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>play_circle_filled</mat-icon>
      Platform management
    </ng-template>
    <app-equipments></app-equipments>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>map</mat-icon>
      Mind Map  
    </ng-template>
    Mind Map
    <div>
      <iframe width="99%" height="2000px" src="https://www.cyrilvincent.com/cnrs/jsmind/"></iframe>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>security</mat-icon>
      Manage Database
    </ng-template>
    <p>Manage Database</p>
    <p>Only for admin</p>
    <p>Add, remove, update, reorder nodes and equipments</p>
    <p>See the new node or Equipment in real time on a timeline</p>
    <p>Can generate a report for all platforms or by platform, statistics, graph viz, ...</p>
    <div>
      <img align="right" src="https://codyhouse.co/assets/img/gems/hero/horizontal-timeline-featured.svg" width="500"/>
      <iframe width="500" height="800px" src="https://www.cyrilvincent.com/cnrs/jsmind/Spectroscopie.htm"></iframe>
    </div>
  </mat-tab>
</mat-tab-group>

