<div id="jsmind_container"></div>
<p>
    <mat-toolbar color="primary">
      <button mat-icon-button [matMenuTriggerFor]="bMenu" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #bMenu="matMenu">
        <button mat-menu-item (click)="equipments()"><mat-icon>play_circle_filled</mat-icon>Equipments</button>
        <button mat-menu-item (click)="labo()"><mat-icon>home</mat-icon>Laboratory</button>
        <button mat-menu-item (click)="db()"><mat-icon>security</mat-icon>Administration</button>
        <button mat-menu-item (click)="mind()"><mat-icon>map</mat-icon>MindMap</button>
        <button mat-menu-item (click)="mindsimple()"><mat-icon>library_books</mat-icon>Index</button>>
        <button mat-menu-item><mat-icon>share</mat-icon>Share</button>
        <button mat-menu-item (click)="about()"><mat-icon>group_work</mat-icon>About</button>
        <button mat-menu-item><mat-icon>logout</mat-icon>Logout</button>
        <button mat-menu-item (click)="material()"><mat-icon>developer_board</mat-icon>Material Design</button>
        <button mat-menu-item (click)="angular()"><mat-icon>developer_board</mat-icon>Angular Material</button>
        <button mat-menu-item (click)="python()"><mat-icon>developer_board</mat-icon>Python (or .NET Core)</button>
        <button mat-menu-item (click)="pg()"><mat-icon>developer_board</mat-icon>PostgreSql</button>
        <button mat-menu-item (click)="cyril()"><mat-icon>account_circle</mat-icon>Cyril Vincent</button>
      </mat-menu>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Laboratory & Platforms" [matTooltip]="'Laboratory & Platforms'">
      <mat-icon (click)="labo()">home</mat-icon>
    </button>
    <button mat-icon-button aria-label="Share" [matTooltip]="'Share'">
      <mat-icon>share</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Logout" [matTooltip]="'Logout'">
      Hi Cyril <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</p>
<mat-tab-group #matTab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>play_circle_filled</mat-icon>
      Equipments
    </ng-template>
    <app-equipments></app-equipments>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>play_circle_filled</mat-icon>
      Equipment's details
    </ng-template>
    <h2>Equipment and Components</h2>
    <mat-card>
      <div *ngIf="service.selectedEquipment">
        <app-equipment-select></app-equipment-select>
        <br/>
        <label>Components of {{service.selectedEquipment.label}}</label>
        <app-entity-list source="components"></app-entity-list>
      </div>  
  </mat-card>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>home</mat-icon>Laboratory & Platforms
    </ng-template>
    <app-platform></app-platform>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>security</mat-icon>
      Manage Database
    </ng-template>
    <p>Manage Database</p>
    <p>Only for admin</p>
    <p>Add, remove, update, reorder nodes and equipments</p>
    <pre>
      Labo 1-* Platform 0-* Equipment 0-* Component
                                *           *
                                |           |
                                1           1
                                EquipmentNode 1*=
      
    </pre>
    <p>See the new node or Equipment in real time on a timeline</p>
    <p>Can generate a report for all platforms or by platform, statistics, graph viz, ...</p>
    <p>Technical Example https://stackblitz.com/edit/dynamic-material-tree</p>
    <div>
      <img align="top" src="https://material.angular.io/assets/screenshots/tree.scene.png"/>
      <img align="right" src="https://codyhouse.co/assets/img/gems/hero/horizontal-timeline-featured.svg" width="500"/>
      <iframe width="500" height="800px" src="https://www.cyrilvincent.com/cnrs/jsmind/Spectroscopie.htm"></iframe>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>map</mat-icon>
      Mind Map  
    </ng-template>
    Mind Map
    <div>
      <iframe width="99%" height="2000px" src="https://www.cyrilvincent.com/cnrs/jsmind/"></iframe>
    </div>
  </mat-tab>
</mat-tab-group>

