<mat-card>
    <mat-list *ngIf="validators.size > 0">
      Merci de corriger les points suivants :
      <mat-list-item *ngFor="let node of validators">
        Le type de composant {{node.label}} est 
        <span *ngIf="node.required">&nbsp;obligatoire<button mat-icon-button matTooltip="Ajouter un composant de type {{node.label}}"><mat-icon>help</mat-icon></button></span>
        <span *ngIf="node.unique">&nbsp;unique<button mat-icon-button [matTooltip]="uniqueText"><mat-icon>help</mat-icon></button></span>
        &nbsp;({{node.id}})
      </mat-list-item>
    </mat-list>
    <div *ngIf="validators.size == 0">L'équipement est OK</div>
</mat-card>
