<div style="width: 49%; height: 100%; float:left">
<h2>Laboratory and Platforms</h2>
    <mat-card>
      <p>Your laboratory: MyLab</p>
      <p>You have no platform</p>
      <button mat-button>Add a platform</button>
      <br/><br/>
      <p>You have completed at 40%</p>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
</mat-card>
<br/>
</div>

<div style="width: 49%; height: 100%; float:right">
    <h2>Equipments</h2>
    <app-entity-list source="equipments"></app-entity-list>
    <br/>  
</div>
