<div style="width: 49%; height: 100%; float:left">
  <br/>
<h2>Institut de la chimie du CNRS</h2>
    <mat-card>
      <p><span matBadge="0" matBadgeOverlap="false">Aucune plateforme</span></p>
      <button (click)="add()" mat-button><mat-icon>add</mat-icon> Ajouter une plateforme</button>
      <br/><br/>
      <p>Vous avez complété les informations demandées à {{completion}}%</p>
      <mat-progress-bar mode="determinate" [value]="completion"></mat-progress-bar>
</mat-card>
<mat-accordion>
<mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>Résumé</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      <app-equipment-tree></app-equipment-tree>
</mat-card>
  </mat-expansion-panel>
</mat-accordion>
</div>

<div style="width: 49%; height: 100%; float:right">
    <br/>
    <h2><span [matBadge]="service.equipments.length">Equipements</span></h2>
    <app-equipment-add></app-equipment-add>
    <app-entity-list source="equipments"></app-entity-list>
    <br/>  
</div>
