
  
  <div style="width: 49%; height: 100%; float:left">
    <br/>
    <h2><span [matBadge]="service.equipments.length">Equipment</span> and <span [matBadge]="service.selectedEquipment.components.length">Components</span></h2>
    <mat-card>
      <div *ngIf="service.selectedEquipment">
        <app-equipment-select></app-equipment-select>
        <br/>
        <label>Components of {{service.selectedEquipment.label}}</label>
        <app-entity-list source="components"></app-entity-list>
      </div>
      
  </mat-card>
    </div>

  <div style="width: 49%; height: 100%; float:right">
    <br/>
    <div *ngIf="service.selectedEquipment">
    <h2>Add components to {{service.selectedEquipment.label}}</h2>
    <mat-card>
      <app-search *ngIf="service.selectedEquipment"></app-search>
    </mat-card>
    <br>
    <mat-card>
      <app-dynamic-form></app-dynamic-form>
    </mat-card>
    <br/>
  </div>
  </div>



