<form [formGroup]="form">
  
  <div style="width: 49%; height: 100%; float:left">
    <h2>Choose your equipment</h2>
  <mat-card>
    <ng-container *ngFor="let item of vms; let i = index" >
    
      <div [formGroup]="form.controls['vms']['controls'][i]">
        
          <div [ngSwitch]="item.type" class="form-field-group">
            <label *ngSwitchCase="'label'">{{item.entity.label}}</label>
            <mat-form-field *ngSwitchCase="'text'" appearance="fill">
              <label>You choose {{item.entity.label}}</label>
              <input matInput [placeholder]="'Comment'" (change)="lastChange($event)" type="text" formControlName="value" [id]="item.key" >
            </mat-form-field> 
            <mat-form-field *ngSwitchCase="'select'" appearance="fill">
              <mat-label>{{item.entity.shortLabel}}</mat-label>
              <mat-select  [placeholder]="item.entity.label"  (selectionChangeComment)="change($event)" formControlName="value" [id]="item.key" >
                <mat-option *ngFor="let o of item.options" [value]="[o.key, item]">{{o.value}}</mat-option>
              </mat-select>
          </mat-form-field>
          </div>
      </div>
      <p>With dynamic cascading select box</p>
      <p>Comment textfield on the equipment (the leaf)</p>
    </ng-container>
    <button mat-button (click)="clear()">Clear</button>
    <button *ngIf="isAdd || true" mat-button (click)="add()">Add equipment</button>
    </mat-card>
    </div>

  <div style="width: 49%; height: 100%; float:right">
    <h2>Equipment list</h2>
    <mat-card>
    <mat-form-field class="fill">
      <mat-label>Search equipment to add (with dynamic suggestion and the levenshtein distance)</mat-label>
      <input #search type="text" 
            placeholder="Pick one"
            aria-label="Search"
            matInput
            class="fill"
            [formControl]="searchControl"
            [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)='searchAction($event)'>
        <!--<mat-option *ngFor="let entity of filtered | async" [value]="entity.label" [matTooltip]="entity.label">
          {{entity.label}}
        </mat-option>-->
      </mat-autocomplete>
    </mat-form-field>
    <img src="https://material.angular.io/assets/screenshots/autocomplete.scene.png"/>
    <br/>
    <button *ngIf="entitySearch" mat-button (click)="addSearch()">Add {{entitySearch.label}}</button>
    <button mat-button >Add the equipment to platform</button>
    <br/>
    <mat-card>
      <mat-list *ngIf="equipments.length > 0">
        <mat-list-item *ngFor="let e of equipments">
          {{e.label}}
          <button mat-button (click)="delete(e.id)" [matTooltip]="'Delete'" ><mat-icon matListIcon>delete</mat-icon></button>
        </mat-list-item>
      </mat-list>
      <div *ngIf="equipments.length == 0">Empty</div>
      <button *ngIf="equipments.length > 0" mat-button (click)="save()">Save</button>
      <button *ngIf="equipments.length > 0" mat-button (click)="qr()">QR Code</button>
      <div *ngIf="showQr">
        <img src="../../assets/Unitag_QRCode_1618647416336.png" width="200"/>
      </div>
      </mat-card>
    </mat-card>
  </div>
  </form>


