<mat-card>
    <mat-list *ngIf="service.selectedEquipment.components.length > 0">
      <mat-list-item *ngFor="let c of service.selectedEquipment.components">
        {{c.label}}
        <button mat-button (click)="delete(c.id)" [matTooltip]="'Delete'" ><mat-icon matListIcon>delete</mat-icon></button>
      </mat-list-item>
    </mat-list>
    <div *ngIf="service.selectedEquipment.components.length == 0">Empty</div>
    <button *ngIf="service.selectedEquipment.components.length > 0" mat-button (click)="save()">Save</button>
</mat-card>
