<div style="width: 49%; height: 100%; float:left">
  <br/>
<h2>Institut de la chimie du CNRS</h2>
  <mat-card>
    <h2><span [matBadge]="service.platforms.length - 1">Plateformes</span></h2>
    <app-platform-add></app-platform-add>
    <app-entity-list source="platforms"></app-entity-list>
    <br/>  
  </mat-card>
  <br/>
  <p>Les informations demandées sont complètées à {{completion}}%</p>
  <mat-progress-bar mode="determinate" [value]="completion"></mat-progress-bar>
  <br/>
  <mat-card>
    <h2>Informations détaillées</h2>
    <mat-form-field class="fill">
      <input type="text" placeholder="Code unité" aria-label="Code unité" matInput class="fill" value="INC">
    </mat-form-field>
    <mat-form-field class="fill">
      <input type="text" placeholder="Nom" aria-label="Nom" matInput class="fill" value="Institut de la chimie du CNRS">
    </mat-form-field>
    <mat-form-field class="fill">
      <input type="text" placeholder="Acronyme" aria-label="Acronyme" matInput class="fill" value="INC">
    </mat-form-field>
    <mat-form-field class="fill">
      <input disabled="true" type="text" placeholder="Nombre d'équipement hors plateforme" matInput class="fill" [value]="service.outPlatform.equipments.length">
    </mat-form-field>
    <mat-form-field class="fill">
      <input disabled="true" type="text" placeholder="Nombre de plateforme" matInput class="fill" [value]="service.platforms.length">
    </mat-form-field>
    <mat-form-field class="fill">
      <input disabled="true" type="text" placeholder="Nombre d'équipement total" matInput class="fill" [value]="service.equipments.length">
    </mat-form-field>
    <br/>
    
  </mat-card>
  <br/>
</div>

<div style="width: 49%; height: 100%; float:right">
    <br/>
    <h2><span [matBadge]="service.equipments.length">Equipements hors plateforme</span></h2>
    <app-equipment-add (platform)="this.service.outPlatform"></app-equipment-add>
    <app-entity-list source="equipments"></app-entity-list>
    <br/>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2>Résumé des équipements</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card>
            <app-equipment-tree></app-equipment-tree>
      </mat-card>
        </mat-expansion-panel>
    </mat-accordion>  
</div>
